!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %script(src='/js/jquery-1.7.1.min.js' type="text/javascript")
    %script(src='/js/jquery-ui.min.js' type="text/javascript")
    %link(rel="stylesheet" href="/stylesheets/jquery-ui.ui-darkness-1.8.css")


    %script{:src => "js/jquery.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-ui.min.js"}
    %script{:src => "/js/vendor/underscore.js"}
    %script{:src => "/js/vendor/backbone.js"}
    %script{:src => "/js/vendor/jquery.dotimeout.js"}
    %link{:href => "stylesheets/validationEngine.jquery.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/tagit-css/tagit-simple-blue.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "js/tagit-js/tagit.js"}


    %body
      %div{:class => "topbar"}
        %div{:class => "fill"}
          #UserName{:class => "pull-right"}
            -if session['user_id'].nil?
              %a{:href=> "#newUser"} New User
              %a{:href=> "#login"} | Sign In
            -else
              %label{:class => 'label'} Welcome  #{session['user_name']}
              %a{:href => "#notes" } | My Page <!-- user/#{session['user_id']}"} My Page -->
              %a{:href => "#logout"} | Sign Out

          %h1{:style => "color:white"} Cinch Notes
      #main{:class => "container"}= yield

    %script{:charset => "utf-8", :src => "js/validation-js/jquery.validationEngine-en.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "js/validation-js/jquery.validationEngine.js", :type => "text/javascript"}
    %script{:src => "/js/note.js"}
