.notes(style = "margin-left:50px; margin-top:50px")
  Notes:
  -for note in @notes
    .note
      =note.note
      %a.deletenote{:href => '#', :note_id => note.id} Delete
      %br

.insert_note(style = "margin-left:50px")
  %form.new_note
    %input(id='tnote'type="text" name='note')
    %input(id='user_id' type='hidden' name='user_id' value="#{session[:user_id]}")
    %input(id='add_note' type='submit' value='Add note')

  %a(href='/') Back Home

:javascript
  $(document).ready(function(){
    $('.deletenote').click(function(e){
      e.preventDefault();
      confirm('Are you sure to remove it?');
      var note_id = $(this).attr('note_id');
      var delete_link = this;
      var params = note_id + "&_method=DELETE";
      var url = "http://localhost:4567/notes/" + note_id;
      $.post(url,params, function(data){
        $(delete_link).parent('.note').remove();
      });
    });

    $('.new_note').children("#add_note").click(function(e){
      var note = $('.new_note').children('#tnote').attr('value');
      var userid = $('.new_note').children('#user_id').attr('value');
      var params = "note=" + note + "&user_id=" + userid + "&_method=POST";
      var url = "/notes/";
      $.post(url, params, function(data){
        $('.notes').add("note");
        //$('.notes').add("<div class='note'>#{note}</div>");
      });
    });
  });

