.notes(style = "margin-left:50px; margin-top:50px ; float:left")
  Notes:
  .note
    %ul
      -for note in @notes
        %li
          =note.note
          %a.deletenote{:href => "#" ,:id => note.id} Delete
           
.insert_note(style = "float:left ; margin-top:50px ; margin-left:250px")
  Create Note:
  %form(class = "new_note" id = "new_note")
    %label(for="note") Note :
    %input(id='tnote'type="text" name='note')
    %input(id='user_id' type='hidden' name='user_id' value="#{session[:user_id]}")
    .ui-widget
    %label(for="tag") Tag  :
    
    %input(id='tag'type="text" name='tag')

    #results

    %input(id='add_note' type='submit' value='Add note')

  %a(href='/') Back Home

  

:javascript
  $(document).ready(function(){
    $('a.deletenote').live ('click',function(e) {
      e.preventDefault();
      confirm('Are you sure to remove it?');
      var note_id = $(this).attr('id');
      var delete_link = this;
      var params = note_id + "&_method=DELETE";
      var url = "http://localhost:4567/notes/" + note_id;
      $.post(url,params, function(data){
        $('a#'+note_id).parent().remove();
      });
    });

    //$('.new_note').children("#add_note").click(function(e){
      //var note = $('.new_note').children('#tnote').attr('value');
      //var userid = $('.new_note').children('#user_id').attr('value');
      //var tag = $('#tag').attr('value');
      //var params = "note=" + note + "&user_id=" + userid + "&tag=" + tag;
      //var url = "/notes/";
      //$.post(url, params, function(data){
      //alert('hello');
        //$('.notes').add("note");
        //$('.notes').add("<div class='note'>#{note}</div>");
      //});
    //});

    $('#new_note').submit (function(e){
      var note = $('.new_note').children('#tnote').attr('value');
      e.preventDefault();
      $.post('/notes/' , $(this).serialize() , function(data){

        alert('success');
        
        $('ul').append(data);
        //alert(data);
      });
    });
  });

:javascript
  $(function() {
    $('#tag').autocomplete({
      source: "tags",
      select: function( event, ui ) {
      }
    });
  });

