 CREATE TABLE  `cinchnotes`.`users` (
 `id` int(11) NOT NULL AUTO_INCREMENT,
 `name` varchar(255) NOT NULL,
 `password_hash` varchar(255) NOT NULL,
 `password_salt` varchar(55) NOT NULL,
 `created_at` timestamp NULL DEFAULT NULL,
 `updated_at` timestamp NULL DEFAULT NULL,
 PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;

CREATE TABLE  `cinchnotes`.`notes` (
 `id` int(11) NOT NULL AUTO_INCREMENT,
 `note` varchar(255) NOT NULL,
 `user_id` int(11) NOT NULL,
 PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=13 DEFAULT CHARSET=utf8;


CREATE TABLE  `cinchnotes`.`taggings` ( `id` int(11) NOT NULL AUTO_INCREMENT,`tag_id` int(11) NOT NULL,`taggable_id` int(11) NOT NULL,`tagger_id` int(11) NOT NULL,`taggable_type` varchar(255) NOT NULL,`tagger_type` varchar(255) NOT NULL,`context` varchar(255) NOT NULL, PRIMARY KEY (`id`)) ENGINE=MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

CREATE TABLE  `cinchnotes`.`tags` ( `id` int(11) NOT NULL AUTO_INCREMENT,`name` varchar(255) NOT NULL, PRIMARY KEY (`id`)) ENGINE=MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;